In [1]:
a = 30
b = 20
if a > b:
    print("A is greater than B!")
else:
    print("B is greater than A!")

A is greater than B!

In [2]:
salary=10000
Salary=20000
print(salary)
print(Salary)

10000
20000

In [3]:
name="marshall"
name1="Marshall"
print(name==name1)

False

In [4]:
# Comments

# this is a comment

'''
this is multiline comment
'''

"""
this is also a multiline comment
"""

'\nthis is also a multiline comment\n'

In [5]:
first_name="John"
last_name="Doe"
print(first_name+" "+last_name)

John Doe

In [6]:
name=input("Enter your name:")
print("Hello, "+name)

Hello, name

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
x=5
y=10
z=x+y
print(z)

15

In [9]:
address="Kathmandu"
print(address)
address="Lalitpur"
print(address)

Kathmandu
Lalitpur

In [10]:
a,b,c = "coke", "fanta", "sprite"
print(a)
print(b)
print(c)

coke
fanta
sprite

In [11]:
p = q = r = "soda"
print(p)
print(q)
print(r)

soda
soda
soda

In [13]:
num1=5
num2=10.5
num3=2j

print("The type of num1 is ",type(num1))
print("The type of num2 is ",type(num2))
print("The type of num3 is ",type(num3))

The type of num1 is  <class 'int'>
The type of num2 is  <class 'float'>
The type of num3 is  <class 'complex'>

In [14]:
name="John"
print("The type of name is:", type(name))

The type of name is: <class 'str'>

In [15]:
a = "Artificial Intelligence"
b= 'Machine Learning'
print(a)
print(b)

# using ',' to concatenate the two or more strings
print(a,"concatenated with",b)

#using '+' to concate the two or more strings
print(a+" concated with "+b)

Artificial Intelligence
Machine Learning
Artificial Intelligence concatenated with Machine Learning
Artificial Intelligence concated with Machine Learning

In [16]:
# List Data type
programing_language = ["Python", "Java", "C++", "C#"]
print("Data type of programing_language is", type(programing_language))

Data type of programing_language is <class 'list'>

In [17]:
programing_language[0]

'Python'

In [18]:
# Tuple Data type
fruits = ("Apple", "Banana", "Cherry", "Date")
print("Data type of fruits is", type(fruits))
print(fruits[0])

Data type of fruits is <class 'tuple'>
Apple

In [21]:
# Set Data type
colors = {"Red", "Green", "Blue", "Yellow"}
print("Data type of colors is", type(colors))
print(colors[0])

Data type of colors is <class 'set'>

TypeError: 'set' object is not subscriptable

In [22]:
# Dictionary Data type
person = {
    "name": "John Doe",
    'age': 30,
    'address': "Kathmandu"}
print("Data type of person is", type(person))
print(person['address'])

Data type of person is <class 'dict'>
Kathmandu

In [23]:
a = "5"
b = 5
print(a == b)

False

In [24]:
# Type Conversion
a = "3.14"
# b = int(a)
# If you want to convert the floating-point string '3.14' into an integer, you should first convert it to a float and then to an integer.
b = int(float(a))
c = float(b)

print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

<class 'str'>
3
<class 'int'>
3.0
<class 'float'>

In [26]:
my_list = [1, 2, 3, 4, 5]
my_squared_list = [x**2 for x in my_list]
my_squared_list

[1, 4, 9, 16, 25]

In [27]:
pairs = [(i, j) for i in range(1, 4) for j in range(4, 7)]
print(pairs)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [28]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened = [item for row in matrix for item in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
original = {'a': 1, 'b': 2, 'c': 3}
swapped = {value: key for key, value in original.items()}
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

In [30]:
sentence = "Python is fun and Python is powerful"
unique_words = {word.lower() for word in sentence.split()}
print("Unique words:", unique_words)

Unique words: {'and', 'fun', 'python', 'powerful', 'is'}